
@model PagedList.IPagedList<shop_cake.Models.product>
@using shop_cake.Models;

@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" />
@{
    customer user = (customer)Session["user"];
    int count = 0;
} 
<h4>All Products</h4>
<div class="beta-products-details">
    <p class="pull-left">tìm thấy @ViewBag.totalItem sản phẩm</p>
    <div style="margin-left:800px">
        <div class="beta-comp" style="margin-left:100px">
            <form role="search" method="get" id="searchform" action="/Home/Index">
                <input type="text" value="@ViewBag.current" name="search" id="s" placeholder="Nhập từ khóa..." />
                <button class="fa fa-search" type="submit" id="searchsubmit"></button>
            </form>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="row" id="area">
    @foreach (var item in Model)
    {
        <div class="col-sm-3">
            <div class="single-item">
                <div class="ribbon-wrapper"><div class="ribbon sale">Sale</div></div>

                <div class="single-item-header">
                    <a href="product.html"><img src="~/image/product/@item.image" alt="" style="height:290px;width:270px "></a>
                </div>
                <div class="single-item-body">
                    <p class="single-item-title">@item.name</p>
                    <p class="single-item-price">
                        @if (item.promotion_price > 0)
                        {
                            <span class="flash-del">@item.unit_price</span>
                            <span class="flash-sale">@item.promotion_price</span>
                        }
                        else
                        {
                            <span>@item.unit_price</span>
                        }
                    </p>
                </div>
                <div class="single-item-caption">
                    <form method="post" action="@Url.Action("Add","ShoppingCart")">
                        <input style="display:none" value="@item.id_product" name="id" />
                        <button class="add-to-cart pull-left " type="submit"><i class="fa fa-shopping-cart"></i></button>
                        @*<input class="add-to-cart pull-left " type="submit"/>*@
                        @*<p class="add-to-cart pull-left"><i class="fa fa-shopping-cart"></i></p>*@
                    </form>
                    <a class="beta-btn primary" href="product.html">Details <i class="fa fa-chevron-right"></i></a>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        count = count + 1;
        if (count % 4 == 0)
        {
            <div class="space40">&nbsp;</div>
        }
    }
</div>

<br />
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        @Html.PagedListPager(Model
                            , No =>Url.Action("Index","Home"
                            , new { No, current = ViewBag.current })
                            ,PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod="GET", UpdateTargetId ="area"})
                            )

