@model PagedList.IPagedList<shop_cake.Models.product>

@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" />

<div class="row" id="area">
    @foreach (var item in Model)
    {
        <div class="col-sm-3">
            <div class="single-item">
                <div class="ribbon-wrapper"><div class="ribbon sale">Sale</div></div>

                <div class="single-item-header">
                    <a href="product.html"><img src="~/image/product/@item.image" alt="" style="height:290px;width:270px "></a>
                </div>
                <div class="single-item-body">
                    <p class="single-item-title">Sample Woman Top</p>
                    <p class="single-item-price">
                        <span class="flash-del">$34.55</span>
                        <span class="flash-sale">$33.55</span>
                    </p>
                </div>
                <div class="single-item-caption">
                    <form method="post" action="@Url.Action("Add","ShoppingCart")">
                        <input style="display:none" value="@item.id_product" name="id"/>
                        <button class="add-to-cart pull-left " type="submit"><i class="fa fa-shopping-cart"></i></button>
                        @*<input class="add-to-cart pull-left " type="submit"/>*@
                        @*<p class="add-to-cart pull-left"><i class="fa fa-shopping-cart"></i></p>*@
                    </form>
                    <a class="beta-btn primary" href="product.html">Details <i class="fa fa-chevron-right"></i></a>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

    }
</div>

<br />
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        @Html.PagedListPager(Model
                            , Page_No =>Url.Action("Index","Home"
                            , new { Page_No })
                            ,PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod="GET", UpdateTargetId ="area"})
                            )