@using shop_cake.Models
@model PagedList.IPagedList<shop_cake.Models.bill_customerViewModel>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
    admin ad = (admin)Session["admin"];
}

@if (ad == null)
{
    <script>
        window.location.href = "/AdminLogin/Index";
    </script>
}
<div class="container" style=" width:990px">
    <div class="row">
        <div class="col-sm-12" style="width:1250px">
            @*<div class="alert alert-success">Added user success!</div>*@
            <table class="table table-striped">
                <tr id="tbl-first-row">
                    <td width="3%">ID</td>
                    <td width="10%">Date order</td>
                    <td width="6%">Total</td>
                    <td width="3%">Payment</td>
                    <td width="13%">Name customer</td>
                    <td width="13%">Email customer</td>
                    <td width="15%">Note</td>
                    <td width="12%">Created at</td>
                    <td width="12%">Updated at</td>
                    <td width="8%">Detail</td>
                </tr>
                @foreach (var item in Model)
                {
                <tr>
                    <td>@item.id_bill</td>
                    <td>@item.date_order</td>
                    <td>@item.total</td>
                    <td>@item.payment</td>
                    <td>@item.namecustomer</td>
                    <td>@item.emailcustomer</td>
                    <td>@item.note</td>
                    <td><a href="#">@item.created_at</a></td>
                    <td><a href="#">@item.updated_at</a></td>
                    <td><a href="@Url.Action("BillDetail","AdminListBills",new { id_bill = item.id_bill})">Detail</a></td>
                </tr>
                }

            </table>



            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
            @Html.PagedListPager(Model
                         , Page_No => Url.Action("Index", "AdminListBills"
                         , new { Page_No, currentFilter = ViewBag.CurrentFilter })
                         , PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "area" })
                         )
        </div>
    </div>
</div>

