@model PagedList.IPagedList<shop_cake.Models.product_productType_ViewModel>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Sản phẩm</h1>
        </div>
    </div><!--/.row-->
    <div class="alert alert-success">Added user success!</div>
    <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">Danh sách sản phẩm</div>
                <div class="panel-body">
                    <div class="bootstrap-table">
                        <div class="table-responsive" id="abc">
                            <a href="@Url.Action(actionName:"Index",controllerName:"AdminAddProduct")" class="btn btn-primary">Thêm sản phẩm</a>
                            <table class="table table-bordered" style="margin-top:20px;">
                                <thead>
                                    <tr class="bg-primary">
                                        <th width="5%">ID</th>
                                        <th width="15%">Tên Sản phẩm</th>
                                        <th width="8%">Giá sản phẩm</th>
                                        <th width="8%">Giá khuyễn mãi</th>
                                        <th width="30%">Mô tả</th>
                                        <th width="19%">Ảnh sản phẩm</th>
                                        <th width="15%">Danh mục</th>
                                        <th width="5%">Tùy chọn</th>
                                    </tr>
                                </thead>
                                @foreach (var item in Model)
                                {
                                    <form action="@Url.Action("Delete","AdminEditProduct")" method="post">
                                        <tbody>
                                            <tr>
                                                <td>@item.id_product</td>
                                                <input name="id" value="@item.id_product" style="display:none" />
                                                <td>@item.product_name</td>
                                                <td>@item.unit_price</td>
                                                <td>@item.promotion_price</td>
                                                <td>@item.description</td>
                                                <td>
                                                    <img width="200px" src="~/image/product/@item.image" class="thumbnail">
                                                </td>
                                                <td>@item.product_types_name</td>
                                                <td>
                                                    <a href="@Url.Action("Index","AdminEditProduct", new { id = @item.id_product} )" class="btn btn-warning"><i class="fa fa-pencil" aria-hidden="true"></i> Sửa</a>
                                                    <button onclick="return confirm('Bạn có chắc chắn muốn xóa?')" type="submit" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i> Xóa</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </form>
                                }

                                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

                                @Html.PagedListPager(Model, page => Url.Action("Index","AdminProduct",
                                    new { page })
                                    , PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "abc" }))
                            </table>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div><!--/.row-->
</div>

